{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Translate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="has-background-light">
  <div class="columns">
    <div class="column is-5 is-offset-1">
      <div class="editor-container">
        {% csrf_token %}
        <div class="editor" id="source-language-editor">Your HTML text here</div>
        <div class="options">
          <div class="select">
            <select name="source">
              <option value="en">English</option>
              <option value="pt">Portuguese</option>  
            </select>
          </div>
          <div class="select">
            <select name="target">
              <option value="pt">Portuguese</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="button is-link" onclick="submit()">Translate</button>
        </div>
      </div>
    </div>
    <div class="column is-5 output">
      <div class="editor-container">
        <div class="editor" id="target-language-editor">Your results will appear here</div>
      </div>
    </div>
  </div>
  <script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>
  <script src="{% static 'js/editor.js' %}"></script>
</body>
</html>